*{
    margin: 0;
    padding: 0;
}

body{
    background: #06283D;
    color: aliceblue;
    padding: 50px;
    margin: 50px;
}

.system{
    
    padding-right:20%;
    text-align: right;
    font-size:25px;
}

.btn{
    padding:10px 30px 10px 30px;
    margin:20px
}

.heading h1{
    text-align: center;
}

.heading p{
    text-align: right;
    padding: 7px;
    
}
.number{
    text-align: center;
}

.message,.highscore_field,.score_field {
    padding: 15px  0 20px 0;
}

.guess{
    margin-left: 10px;
    width: 8%;
    height: 40px;
}